
#headercont{
	background-color:green;
	min-height:50px;
	padding:2px 0;
}
.hsocialicon{
	margin-top:20px;
}
.hsocialicon ul li{
	width:30px;
	padding:5px;
	border:1px solid white;
	text-align:center;
	background-color:white;
}
#userlogin .modal-sm{
	width:350px;
	background-color: #ffffff33;
}
#userlogin .modal-content{
	padding:10px 25px 25px;
}
#main_slider img{
	width:100%;
	max-height:550px;
	min-height:250px;
}

#main_slider .carousel-control{
	width:5%;
	background-image:none;
	opacity:0;
}
#main_slider:hover .carousel-control{
	opacity:1;
}
#main_slider .carousel-caption{
	bottom:0;
	top:40%;
	left:50px;
}
.lb-outerContainer{
	position:relative;
}
.lb-close{
	position: absolute;
    top: 0;
    right: 0;

}

/* ==== Footer Part ======= */

#footer{
	background-color:green;
	min-height:50px;
	padding:2px 0;
}
.hsocialicon{
	margin-top:20px;
}
.hsocialicon ul li{
	width:30px;
	padding:5px;
	border:1px solid white;
	text-align:center;
	background-color:white;
}











